.root {
  border-radius: 6px;
  padding: 8px 16px;
  background: var(--orange-dark);
  color: var(--navy-dark);
  font-weight: 700;
  box-shadow: 0 2px 0 #CC8B13;
  border: none;
  cursor: pointer;
  transition: all 0.3 ease;

  &:hover {
    background-color: var(--orange-light);
  }

  &.secondary {
    background-color: var(--grey-dark);
    box-shadow: 0 2px 0 #6B8997;

    &:hover {
    background-color: var(--grey-light);
  }
  }
}