:root {
  --blue-dark: #31c3bd;
  --blue-light: #65e9e4;
  --orange-dark: #f2b137;
  --orange-light: #ffc860;
  --navy-dark: #1a2a33;
  --navy-light: #1f3641;
  --grey-dark: #a8bfc9;
  --grey-light: #dbe8ed;
}