@import './styles/colors.css';
@import './styles/typography.css';

body {
  font-size: 14px;
  font-family: 'Outfit', Helvetica, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: var(--grey-dark);

  * {
    box-sizing: border-box;
  }

  span {
    display: inline-block;
  }
}